*{
margin: 0;
font-family: sans-serif;;
color: whitesmoke;
}

body{
	overflow: hidden;
}
header{
	display: flex;
	justify-content: space-between;
	z-index: 10;
	padding: 2rem 5.2%;
	font-size: 1rem;
}
nav{
	display: flex;
	padding-right: 1rem;
	gap: 4rem;


}

a{
	text-decoration: none;
}

video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

div{
	padding-top: 120px;
	padding-left: 60px;
	width: 30%;
	p{
		font-size: 20px;
		text-align: justify;
	}
}